html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
}
#logoimg {
    height: 60px;
    width: 60px;
    }
.city_img{
    height: 150px;
    width: 150px;
}
.social_img{
    height: 20px;
    width: 22px;
}
body{
    background-color: #e0e0e0;
}
header,footer{
    background-color: rosybrown;
}