.container-detail{
    display: flex;
    flex-flow: row wrap;
    margin: 2%;
    margin-top: 8.5%;
}
.hotel-img{
    border: 1px solid black;
    flex-basis: 62vw;
    padding: 12px;
    border-right: none;
}
.hotel-img img{
    display: block;
    width: 450px;
    height: 400px;
    margin: auto;
    margin-top: 3%;
}
.hotel-fields{
    border: 1px solid black;
    flex-basis: 28vw;
}
input.inputs-form {
    outline: none;
    border: 2px solid transparent;
}
.form-ul{
    list-style-type: none;
    padding: 2px;
}
.listy{
    display: flex;
    padding: 1em;
}
.lableSty{
flex: 1 1 0%;
}
.inputSty{
    width: 60%;
    outline: none;
    border: 1px black transparent;
}
.hotel-details-container{
    margin: 0 4%;
}
